
body {
  background-color: hsl(212, 45%, 89%);
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 15px;
  font-weight: 400, 700;
}

h2 {
  color:hsl(218, 44%, 22%);
  margin: 30px auto 10px auto;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: hsl(220, 15%, 55%);
  margin: 0 auto 10px auto;
  font-family: 'Montserrat', sans-serif;
}

.QRcode {
  background-color: hsl(0, 0%, 100%);
  border: 15px solid hsl(0, 0%, 100%);
  border-radius: 10px;
  width: 18.75rem;
  height: 31.25rem;
  margin: 7.5rem auto 7.5rem auto;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}